@use "../../styles/abstracts/colors" as colors;
@use "../../styles/abstracts/mixins" as mixins;

.brand {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;

  & > div {
    width: 32px;
    height: 32px;

    & > svg {
      width: 100%;
      height: 100%;

      & > rect {
        fill: colors.$brand;
      }

      & > path {
        stroke: colors.$background;
      }
    }
  }

  & > span {
    margin-left: 10px;
    user-select: none;
    @include mixins.font("brand");
  }
}
