@use "../../abstracts/colors" as colors;

$loader-color: colors.$background;

.loader {
  animation: spinnning 1s linear infinite;
  border: 6px solid $loader-color;
  border-left-color: transparent;
  border-radius: 50%;
  width: 24px;
  height: 24px;
}

@keyframes spinnning {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
