{
  "useTabs": false,
  "tabWidth": 2,
  "printWidth": 88,
  "singleQuote": false,
  "trailingComma": "es5",
  "semi": true,
  "endOfLine": "lf",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "plugins": ["prettier-plugin-css-order"]
}
