{
  "useTabs": false,
  "tabWidth": 2,
  "printWidth": 88,
  "singleQuote": false,
  "trailingComma": "es5",
  "semi": true,
  "bracketSpacing": true,
  "bracketSameLine": false,
  "plugins": ["prettier-plugin-css-order", "prettier-plugin-jinja-template"],
  "overrides": [
    {
      "files": ["*.html"],
      "options": {
        "parser": "jinja-template"
      }
    }
  ]
}
