@use "@styles/abstracts/breakpoints";
@use "@styles/abstracts/colors";
@use "@styles/abstracts/mixins";

$form-footer-font-color: colors.$background-secondary-font-color;

.form-footer {
  margin-top: 40px;
  text-align: center;
  text-decoration: none;
  @include mixins.font("content", $form-footer-font-color);

  @include mixins.responsive-landscape(breakpoints.$XS) {
    margin-bottom: 40px;
  }
}
