$brand: #1463fa;
$brand-font-color: #ffffff;

$background: #ffffff;
$background-font-color: #000000;
$background-secondary-font-color: #9a9daa;

$input-background: #fafafa;
$input-placeholder-font-color: #bebebe;

$success-background: #e1f1e5;
$success-font-color: #166000;

$error-background: #ffe4e4;
$error-font-color: #ff2e2f;

$border: #dedede;
