@use "colors";
@use "fonts";

@mixin placeholder {
  &::placeholder,
  &::-webkit-input-placeholder,
  &::-moz-placeholder,
  &:-ms-input-placeholder,
  &:-moz-placeholder {
    opacity: 1;
    @content;
  }
}

@mixin responsive($query) {
  @media screen and (min-width: $query) {
    @content;
  }
}

@mixin responsive-landscape($query) {
  @media screen and (min-width: $query) and (orientation: landscape) {
    @content;
  }
}

@mixin responsive-portrait($query) {
  @media screen and (min-width: $query) and (orientation: portrait) {
    @content;
  }
}

/// @param {string} $font - The font to use from the $fonts-map
/// @param {hex} $color - The color to use for the font
@mixin font($font: "content", $color: colors.$background-font-color) {
  color: $color;
  font-weight: map-get(map-get(fonts.$fonts-map, $font), weight);
  font-size: map-get(map-get(fonts.$fonts-map, $font), size);
  line-height: map-get(map-get(fonts.$fonts-map, $font), height);
}
