@use "../../style/colors" as colors;

div.footer {
  margin-top: 40px;
  text-align: center;
  text-decoration: none;

  // @include mixins.responsive-landscape(breakpoints.$XS) {
  //   margin-bottom: 40px;
  // }

  & > p.footerText {
    color: colors.$background-secondary-font-color;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.25rem;
    letter-spacing: normal;
  }
}
