@use "@styles/abstracts/colors" as colors;
@use "@styles/abstracts/mixins" as mixins;

main.content {
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.splitted-input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;

  & > div.input-container {
    display: flex;
    flex: 1;
    flex-direction: column;

    &:first-child {
      margin-right: 20px;
    }
  }
}

div.terms-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: content-box;
  margin-top: 20px;
  @include mixins.font("content", colors.$background-font-color);
}

label[for="terms"].error {
  margin-top: -2px;
}

button.button {
  margin-top: 14px;
}
