$brand: #1463fa;
$brand-font-color: #ffffff;

$background: #ffffff;
$background-font-color: #000000;
$background-secondary-font-color: #9a9daa;

$input-background: #fafafa;

$success: #166000; // $success-background: #e1f1e5;
$error: #ff2e2f; // $error-background: #ffe4e4;

$border: #dedede;
