* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
  color: inherit;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}
