@use "../base/reset";
@use "../base/base";

@use "../abstracts/colors" as colors;
@use "../abstracts/mixins" as mixins;

@use "../layout/navbar/navbar";
@use "../components/brand/brand";
@use "../layout/dialog-form/dialog-form";
@use "../components/input/input";
@use "../components/link/link";
@use "../components/button/button";
@use "../components/loader/loader";

.content {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form__double-label-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  & > .link {
    @include mixins.font("content", colors.$brand);
    margin: 20px 0 6px 0;
  }
}

.button {
  margin-top: 14px;
}
