@use '../base/reset';
@use '../base/base';

@use '../layout/navbar/navbar';
@use '../components/brand/brand';
@use '../layout/dialog-form/dialog-form';
@use '../components/input/input';
@use '../components/checkbox/checkbox';
@use '../components/link/link';
@use '../components/button/button';
@use '../components/loader/loader';

.content {
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form__splitted-input {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;

  & > .splitted-input__input-container {
    display: flex;
    flex-direction: column;
    flex: 1;

    &:first-child {
      margin-right: 20px;
    }
  }
}

.form__terms-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  box-sizing: content-box;
  margin-top: 20px;
}

label[for="terms"].error {
  margin-top: -2px;
}

.button {
  margin-top: 14px;
}
