@use "../base/reset";
@use "../base/base";

@use "../layout/navbar/navbar";
@use "../components/brand/brand";
@use "../layout/dialog-form/dialog-form";
@use "../components/input/input";
@use "../components/checkbox/checkbox";
@use "../components/link/link";
@use "../components/button/button";
@use "../components/loader/loader";

.content {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form__splitted-input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;

  & > .splitted-input__input-container {
    display: flex;
    flex: 1;
    flex-direction: column;

    &:first-child {
      margin-right: 20px;
    }
  }
}

.form__terms-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: content-box;
  margin-top: 20px;
}

label[for="terms"].error {
  margin-top: -2px;
}

.button {
  margin-top: 14px;
}
