span.text {
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  font-family: inherit;
  letter-spacing: normal;
  text-align: inherit;

  &.color1 {
    color: #000000;
  }

  &.color2 {
    color: #9a9daa;
  }

  &.color3 {
    color: #ffffff;
  }
}
