@use "@/styles/abstracts/breakpoints";
@use "@/styles/abstracts/colors";
@use "@/styles/abstracts/mixins";

$dialog-padding: 20px;
$dialog-form-width: 374px;
$dialog-border: colors.$border;
$dialog-border-radius: 30px;
$dialog-background: colors.$background;

div.auth-form {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border-radius: $dialog-border-radius;
  background-color: $dialog-background;
  padding: $dialog-padding;
  width: 100%;

  & > h1.auth-form-title {
    @include mixins.font("title");
  }

  & > form {
    display: flex;
    flex-direction: column;
    width: 100%;

    @include mixins.responsive(breakpoints.$XS) {
      width: $dialog-form-width;
    }
  }

  @include mixins.responsive(breakpoints.$XS) {
    border: 1px solid $dialog-border;
    width: unset;
  }

  @include mixins.responsive-landscape(breakpoints.$XS) {
    margin-top: 40px;
  }
}
