@use "@styles/abstracts/box-shadows" as box-shadows;
@use "@styles/abstracts/colors" as colors;
@use "@styles/abstracts/mixins" as mixins;

$input-height: 43px;
$input-border: colors.$border;
$input-border-radius: 10px;
$input-background: colors.$input-background;
$input-placeholder-font-color: colors.$input-placeholder-font-color;
$input-focus-outline: colors.$brand;
$input-focus-box-shadow: box-shadows.$input-focus-box-shadow;
$input-label-font-color: colors.$background-font-color;
$input-label-error-font-color: colors.$error-font-color;

label[for].input-label {
  margin: 20px 0 6px 0;
  @include mixins.font("content", $input-label-font-color);

  &--error {
    margin: 6px 0 0 0;
    color: $input-label-error-font-color;
  }
}

input.input {
  transition: border 0.5s ease;
  box-sizing: border-box;
  border: 1px solid $input-border;
  border-radius: $input-border-radius;
  background-color: $input-background;
  padding: 11px 15px;
  width: 100%;
  height: $input-height;
  @include mixins.font("content");

  &:focus {
    outline: none;
    box-shadow: $input-focus-box-shadow;
    border: 1px solid $input-focus-outline;
  }

  @include mixins.placeholder {
    @include mixins.font("content", $input-placeholder-font-color);
  }

  &[type="password"] {
    letter-spacing: 0.15rem;
  }
}
