@use "@styles/abstracts/colors" as colors;

$link-color: colors.$brand;

.link {
  transition: opacity 0.5s ease;
  color: $link-color;
  font-size: inherit;
  line-height: inherit;
  font-family: inherit;
  letter-spacing: inherit;
  text-decoration: none;

  &:hover {
    opacity: 0.8;
  }
}
