@use "../../abstracts/breakpoints" as breakpoints;
@use "../../abstracts/colors" as colors;
@use "../../abstracts/mixins" as mixins;

$dialog-padding: 20px;
$dialog-form-width: 350px;
$dialog-border: colors.$border;
$dialog-border-radius: 30px;
$dialog-background: colors.$background;
$dialog-footer-font-color: colors.$background-secondary-font-color;

.form-dialog {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border-radius: $dialog-border-radius;
  background-color: $dialog-background;
  padding: $dialog-padding;
  width: 100%;

  & > h1 {
    @include mixins.font("title");
  }

  & > form {
    display: flex;
    flex-direction: column;
    width: 100%;

    @include mixins.responsive(breakpoints.$XS) {
      width: $dialog-form-width;
    }
  }

  & + div.dialog-footer {
    @include mixins.font("content", $dialog-footer-font-color);
    margin-top: 40px;
    text-align: center;
    text-decoration: none;

    @include mixins.responsive-landscape(breakpoints.$XS) {
      margin-bottom: 40px;
    }
  }

  @include mixins.responsive(breakpoints.$XS) {
    border: 1px solid $dialog-border;
    width: unset;
  }

  @include mixins.responsive-landscape(breakpoints.$XS) {
    margin-top: 40px;
  }
}
