@use "../../style/colors" as colors;

div.authForm {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border-radius: 30px;
  background-color: colors.$background;
  padding: 20px;
  width: 100%;

  & > h1.authFormTitle {
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.6rem;
    letter-spacing: normal;
  }

  & > form {
    display: flex;
    flex-direction: column;
    width: 100%;

    @media screen and (min-width: 480px) {
      width: 374px;
    }
  }

  @media screen and (min-width: 480px) {
    border: 1px solid colors.$border;
    width: unset;
  }

  @media screen and (min-width: 480px) and (orientation: landscape) {
    margin-top: 40px;
  }
}
