input.checkbox {
  &[type="checkbox"]:checked,
  &[type="checkbox"]:not(:checked) {
    position: absolute;
    left: -9999px;

    & + label {
      display: inline-block;
      position: relative;
      transition: all 0.5s ease;
      cursor: pointer;
      margin-top: 0px;
      margin-bottom: 0px;
      background-color: transparent;
      padding: 2px 0px 0px 32px;
      height: 28px;

      &:before {
        position: absolute;
        top: 1px;
        left: -4px;
        background-image: url("/svg/checkbox.svg");
        background-position: left center;
        background-repeat: no-repeat;
        width: 28px;
        height: 28px;
        content: "";
      }

      &:after {
        position: absolute;
        top: -2px;
        left: 0px;
        transition: all 0.5s ease;
        background-image: url("/svg/checkbox-active.svg");
        background-position: left center;
        background-repeat: no-repeat;
        width: 28px;
        height: 28px;
        content: "";
      }
    }
  }

  &[type="checkbox"]:checked + label:after {
    opacity: 1;
  }

  &[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
  }
}
