{% macro head(title, description) %}
  <head>
    <meta charset="UTF-8" />
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0"
    />
    <!-- css -->
    <link rel="stylesheet" href="/static/css/{{ page_name }}.min.css" />
    <!-- fonts -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"
    />
    <!-- favicon -->
    <link rel="icon" type="image/x-icon" href="/static/ico/favicon.ico" />
  </head>
{% endmacro %}
