{% import "/templates/macros.html" as macros with context %}

<!doctype html>
<html lang="en">
  {{macros.head(brand_name ~ " - Sign up", "Create new " ~ brand_name ~ " account")}}
  <body>
    <div class="fullpage">
      <nav class="navbar-container">
        <div class="navbar">
          <a class="brand-link" href="/">
            <div class="brand-link__logo-wrapper">
              {% include "/static/svg/logo.svg" %}
            </div>
            <span class="no-select">{{ brand_name }}</span>
          </a>
        </div>
      </nav>
      <main class="content">
        <div class="form-dialog">
          <h1>Sign up</h1>
          <form novalidate="novalidate" target="_self">
            <div class="form__splitted-input">
              <div class="splitted-input__input-container">
                <label for="first_name">First name</label>
                <input
                  id="first_name"
                  name="first_name"
                  type="text"
                  class="input"
                  placeholder="John"
                  autocomplete="given-name"
                  data-msg-required="Please enter first name"
                  data-msg-minlength="Too short"
                  data-msg-maxlength="Too long"
                  required
                />
              </div>
              <div class="splitted-input__input-container">
                <label for="last_name">Last name</label>
                <input
                  id="last_name"
                  name="last_name"
                  type="text"
                  class="input"
                  placeholder="Smith"
                  autocomplete="family-name"
                  data-msg-minlength="Too short"
                  data-msg-maxlength="Too long"
                  required
                />
              </div>
            </div>
            <label for="email">Email</label>
            <input
              id="email"
              name="email"
              type="email"
              class="input"
              placeholder="name@email.tld"
              autocomplete="email"
              data-msg-required="Please enter email address"
              data-msg-invalid="Please enter a valid email address"
              data-msg-conflict="This email address is already used"
              required
            />
            <label for="password">Password</label>
            <input
              id="password"
              name="password"
              type="password"
              class="input"
              placeholder="••••••••"
              autocomplete="new-password"
              data-msg-required="Please enter password"
              data-msg-minlength="Password must be at least 8 characters long"
              data-msg-maxlength="Password must be at most 256 characters long"
              required
            />
            <div class="form__terms-container">
              <input
                id="terms"
                name="terms"
                type="checkbox"
                class="checkbox"
                data-msg-required="You need to accept our terms of use"
                required
              />
              <label for="terms"
                >I agree to the <a href="#" class="link">terms of use</a></label
              >
            </div>
            <button class="button" type="submit">Create Account</button>
          </form>
        </div>
        <div class="dialog-footer">
          <p>
            Already have an account?
            <a href="{{ url_for('pages.login') }}" class="link">Login</a>
          </p>
        </div>
      </main>
    </div>
    <script src="static/js/{{ page_name }}.min.js" type="text/javascript"></script>
  </body>
</html>
