label.text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25rem;
  font-family: inherit;
  letter-spacing: normal;

  &.black {
    color: #000000;
  }

  &.green {
    color: #166000;
  }

  &.red {
    color: #ff2e2f;
  }
}
